<!-- should have a display for all the books, under each book
see or edit -->
<% @books.each do |book| %>
<div>
<h3><a href='books/<%= book.id %>/show'><%= book.title %></a></h3>
<h4><%= book.author %></h4>
	<% book.words.each do |word| %>
		<ul>
			<li><%= word.word %></li>
		</ul>
	<% end %>
</div>
<% end %>
