<!-- should have a display for all the books, under each book
see or edit -->
<div class="offset-by-five">
<% @books.each do |book| %>
<table>
<tbody>
	<tr>
		<td class="div">
			<a class="b" href='books/<%= book.id %>/show'>
				<h3 class="b2"><%= book.title %></h3>
				<h4>By: <%= book.author %></h4>
			</a>
		</td>
	</tr>	
<% end %>
</tbody>
</table>
</div>