<div class="offset-by-six">	
	<table>
		<tr>	
			<td class="div2">	
				<h2>Add a new book!</h2>
				<form method='post' action='/books/new'>
					<div>
						<label><h4>Title:  </h4></label>
						<input type='text' name='book[title]' />
					</div>
					<div>
						<label><h4>Author:</h4></label>	
						<input type='text' name='book[author]' />
					</div>
					<input type='submit' value='add!' />
				</form>
			</td>
		</tr>
	</table>		
<div>
