<h2>Edit</h2>
<form method='post' action='/books/<%= @book.id %>/update'>
	<div>
		<label>Title:</label>
		<input type='text' name='title' value='<%= @book.title %>' />
	</div>
	<div>
		<label>Author:</label>	
		<input type='text' name='author' value='<%= @book.author %>' />
	</div>
	<input type='submit' value='add!' />
</form>
